

@media only screen and (min-width:900px){
    body{
        font-size: 16px;
    }
    .wrap{
        width: 80%;
        margin: auto;
    }
    section{
        width: 75%;
        margin: auto;
    }
    .card{
        width: 90%;
        margin: auto;
    }
    header{
        background: var(--clear);
        padding: .4rem 1.2rem;
    }
    header nav ul{
        display: flex;
        background: none;
    }
    header nav ul li{
        border-bottom: none;
    } 
    header nav ul li a{
        color: var(--main);
    }
    input{
        display: none;
    }
    label{
        display: none;
    }
    .grande{
        width:100%
    }
}

@media only screen and (min-width:1000px){
    body{
        font-size: 16px;

    }
    .wrap{
        width: 75%;
        margin: auto;
    }
    section{
        width: 65%;
        margin: 5em auto;
    }
    .card{
        width: 90%;
        margin: auto;
    }
    .grande{
        /* top: -10%; */
        width:100%;
    }
    .big{
        font-weight: 500;
        font-size: 40px;
        /* color: var(--main); */

    }
}