/*https://paste.ubuntu.com/p/4r2Q2xCv8D/*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: white;
}

h2{
    animation-name: rightFade;
    margin: 1.5rem 0;
    /* transition: all ease-in 10s; */
    animation-duration: 700ms;
}
body{
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: small;
    background: linear-gradient(140deg, rgba(171,196,255,1) 0%, rgba(182,204,254,1) 5%, rgba(193,211,254,1) 15%, rgba(194,211,254,1) 25%, rgba(204,219,253,1) 35%, rgba(215,227,252,1) 50%, rgba(226,234,252,1) 75%, rgba(237,242,251,1) 86%, rgba(255,255,255,1) 100%);

}

header{
    left: 0;
    top: 0;
    display: flex;
    justify-content: space-between;
    padding: .4rem;
    align-items: center;
    /* transition: all ease .5s; */
    animation-duration: .5s;
    animation-name: topFade;
    animation-timing-function: ease-in-out;
    background: linear-gradient(145deg, #b7d2ff, #9ab0e6);
    box-shadow:  15px 15px 40px #899dcc,
                 -15px -15px 40px #cdebff;
    

}
    nav{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    header nav ul{
        display: none;
        align-items: center;
        justify-content: center;
        background: linear-gradient(145deg, #b7d2ff, #9ab0e6);

    }
        header nav ul li {
            display: block;
            margin: 0;
            padding: 1rem;
            list-style: none;
            border-bottom: solid 1px #81a1ec;
        }
            input {
                display: none;
            }
                input:checked  ~ ul{
                    top: 8.5%;
                    left: 0;
                    width: 100%;
                    position: fixed;
                    display: block;
                }

                    label {
                        box-sizing: border-box;
                        display: inline-block;
                        border: 1px solid black;
                        border-radius: 5px;
                        width: 30px;
                        height: 30px;
                        line-height: 30px;
                        font-weight: bold;
                        text-align: center;
                        user-select: none;
                    }
                  
    .submenu{
        width: 100%;
        /* position: fixed; */
        display: flex;
        text-align: center;
        justify-content: center;
    }
.wrap{
    padding: 1em;
}

section{
    margin: 1em;
}        

.card{
    width: 100%; 
    padding: 1rem;
    border-radius: 20px;
    background: rgb(141,171,240);
    background: linear-gradient(324deg, rgba(141,171,240,1) 0%, rgba(156,184,247,1) 15%, rgba(193,211,254,1) 30%, rgba(204,219,253,1) 50%, rgba(215,227,252,1) 55%, rgba(226,234,252,1) 65%, rgba(237,242,251,1) 80%, rgba(255,255,255,1) 100%);
    box-shadow:  10px 10px 25px #7889b3,
    -10px -10px 25px #bcd7ff;
    animation: leftFade 6s;
}
    .card-button:hover{
        transform: scale(1.1);
        transition: all ease-in-out 600ms;
    }
        c-head .tenebrixImg{
            width: 95%;
            max-width: 700px;
            margin:  0 auto;
            display: flex;
        }
            .card-button{
                width: 100%;
                padding: .5rem;
                border: none;
                border-radius: 10px;
                background: linear-gradient(140deg, rgba(171,196,255,1) 0%, rgba(182,204,254,1) 5%, rgba(193,211,254,1) 15%, rgba(194,211,254,1) 25%, rgba(204,219,253,1) 35%, rgba(215,227,252,1) 50%, rgba(226,234,252,1) 75%, rgba(237,242,251,1) 86%, rgba(255,255,255,1) 100%);
            }

footer{
    text-align: center;
}

@keyframes leftFade{
    0%{
        transform: translateX(90px);
        display: none;
        opacity: 0.1;
    }
    to{
        opacity: 1;
        
    }
}

@keyframes rightFade{
    0%{
        transform: translateX(-100px);
        display: none;
        opacity: 0.2;
    }
    to{
        opacity: 1;
        
    }
}

@keyframes topFade{
    0%{
        transform: translateY(-100px);
        display: none;
        opacity: 0.2;
    }
    to{
        opacity: 1;
        
    }
}
