/* background: linear-gradient(306deg, rgba(33,37,41,1) 0%, rgba(52,58,64,1) 15%, rgba(73,80,87,1) 35%, rgba(108,117,125,1) 50%, rgba(173,181,189,1) 100%); */
/* Añadir animacion
Anadir imagenes
Añadir diseño header */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}

h2{
    animation-name: rightFade;
    margin: 1.5rem 0;
    /* transition: all ease-in 10s; */
    animation-duration: 700ms;
}
body{
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: small;
    background: linear-gradient(306deg, rgba(33,37,41,1) 0%, rgba(52,58,64,1) 15%, rgba(73,80,87,1) 35%, rgba(108,117,125,1) 50%, rgba(173,181,189,1) 100%);
}

header{
    left: 0;
    top: 0;
    display: flex;
    justify-content: space-between;
    padding: .4rem;
    align-items: center;
    /* transition: all ease .5s; */
    animation-duration: .5s;
    animation-name: topFade;
    animation-timing-function: ease-in-out;
    background: linear-gradient(306deg, rgba(33,37,41,1) 0%, rgba(52,58,64,1) 15%, rgba(73,80,87,1) 35%, rgba(108,117,125,1) 50%, rgba(173,181,189,1) 100%);
    -webkit-box-shadow: 0px 18px 113px -24px rgba(108,117,125,1);
    -moz-box-shadow: 0px 18px 113px -24px rgba(108,117,125,1);
    box-shadow: 0px 18px 113px -24px rgba(108,117,125,1);

}
    nav{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    header nav ul{
        display: none;
        align-items: center;
        justify-content: center;
    }
        header nav ul li {
            display: block;
            background: lightgrey;
            margin: 0;
            padding: 1rem;
            list-style: none;
            border-bottom: 1px solid grey;
        }
            input {
                display: none;
            }
                input:checked  ~ ul{
                    top: 8.5%;
                    left: 0;
                    width: 100%;
                    position: fixed;
                    display: block;
                }

                    label {
                        box-sizing: border-box;
                        display: inline-block;
                        border: 1px solid black;
                        border-radius: 5px;
                        width: 30px;
                        height: 30px;
                        line-height: 30px;
                        font-weight: bold;
                        text-align: center;
                        user-select: none;
                    }
                  
    .submenu{
        width: 100%;
        /* position: fixed; */
        display: flex;
        text-align: center;
        justify-content: center;
    }
.wrap{
    padding: 1em;
}

section{
    margin: 1em;
}        

.card{
    width: 100%; 
    padding: 1rem;
    border-radius: 20px;
    box-shadow:  25px 25px 75px #2f353a,
             -25px -25px 75px #393f46;
    animation: leftFade 6s;
}
    .card-button:hover{
        transform: scale(1.1);
        transition: all ease-in-out 600ms;
    }
        c-head .tenebrixImg{
            width: 95%;
            max-width: 700px;
            margin:  0 auto;
            display: flex;
        }
            .card-button{
                width: 100%;
                padding: .5rem;
                border: none;
                border-radius: 10px;
                background: linear-gradient(306deg, rgba(33,37,41,1) 0%, rgba(52,58,64,1) 15%, rgba(73,80,87,1) 35%, rgba(108,117,125,1) 50%, rgba(173,181,189,1) 100%);

            }

footer{
    padding: 1em;
    text-align: center;
    box-shadow:  25px 25px 75px #2f353a,
    -25px -25px 75px #393f46;
}

@keyframes leftFade{
    0%{
        transform: translateX(90px);
        display: none;
        opacity: 0.1;
    }
    to{
        opacity: 1;
        
    }
}

@keyframes rightFade{
    0%{
        transform: translateX(-100px);
        display: none;
        opacity: 0.2;
    }
    to{
        opacity: 1;
        
    }
}

@keyframes topFade{
    0%{
        transform: translateY(-100px);
        display: none;
        opacity: 0.2;
    }
    to{
        opacity: 1;
        
    }
}
